*{
  margin: 0;
  padding: 0;
}

.app{
  
  margin: 20px auto;
  width: 90%;

}

.header{
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  /* border: 1px solid #e84855; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.body{
  padding: 0px 30px;
}

.header > .logo-container > .logo{
  width: 110px;
  transition: box-shadow 0.3s ease;
}


.header > .nav-items > ul{
  display: flex;
  list-style-type: none;
  margin-top: 12px;
}

.header > .nav-items > ul > li{
padding: 10px;
margin: 10px;
} 
.header > .nav-items> ul > li > a{
  font-size: 18px;
  text-decoration: none;
  color: #333;
}

.header > .nav-items> ul > li > a:hover{
  cursor: pointer;
  color: #e84855;
}

.header > .nav-items > ul > .login{
  width: 90px;
  height: 40px;
  border-radius: 10px;
  margin-top: 7px;
  background-color: #e84855;
  color: white;
  font-weight: bold;
  font-size: 13px;
  margin-left: 20px;
  margin-right: 5px;
}

.header > .nav-items > ul > .login:hover{
  cursor: pointer;
  background-color: #d33744;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.res-container > a{
  text-decoration: none;
}
.res-container > a >.res-card {
  color: #333;
  height: 370px;
  width: 180px;
  padding: 10px;
  outline: 2px solid #fff; /* White */
  background-color: #fff; /* White */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 25px;
}

.res-container > a >.res-card:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7; /* Light gray on hover */
  cursor: pointer;
}

.res-card > img {
  height: 150px;
  width: 100%;
  border-radius: 10px;
}

.res-card h3 {
  font-size: 22px;
  margin: 8px 0 6px;
  color: #333; /* Dark gray for restaurant card details */
}

.res-card > .cuisines {
  font-weight: lighter;
}

.res-card > .res-ratings {
  padding: 4px 0;
  font-size: 18px;
  display: inline;
}

.res-card > .star {
  position: relative;
  bottom: 1px;
  font-size: 16px;
}

.res-card > .time {
  font-size: 14px;
  padding: 2px;
  display: inline;
  margin-left: 5px;
}

.res-card > .area,
.res-card > .distance {
  display: inline;
}

.res-card > .distance {
  margin-left: 5px;
}

.filter{
  display: flex;
}

.search-box{
  margin: 20px 0px 0px 30px;
  padding: 10px 20px;
  border-radius: 10px;
  width: 200px;
}

.search-btn{
  margin: 20px 0px 0px 30px;
  color: #e84855; /* White text for filter button */
  background-color: #fff; /* Swiggy red for the button background */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.search-btn:hover {
  background-color: #e84855;
  color: white;
}

.filter-btn {
  margin: 20px 0px 0px 40px;
  color: #fff; /* White text for filter button */
  background-color: #e84855; /* Swiggy red for the button background */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #d33744; /* Slightly darker red on hover */
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.shimmer-card {
  height: 400px;
  width: 220px;
  padding: 10px;
  outline: 2px solid #fff; /* White */
  background-color: #fff; /* White */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 25px;

  /* Shimmer Animation Styles */
  position: relative;
  overflow: hidden;
}

.shimmer-card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent 0%, #f0f0f0 50%, transparent 100%);
  animation: shimmerAnimation 1.5s infinite linear;
}

@keyframes shimmerAnimation {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(150%);
  }
}


.login{
  margin: 5px 10px 5px 8px;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  background-color: #e84855;
  width: 100px;
  height: 45px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.login:hover{
  background-color: #d33744;
  border-color: black;
}

.logout{
  margin: 5px 2px;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  background-color: #e84855;
  width: 100px;
  height: 45px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}
