* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 10px;
}

.header {
  width: 1450px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  border: 1px solid black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.header:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 150px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  padding-top: 25px;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
}

.nav-items > ul > li:hover,
.nav-items ul li:hover {
  cursor: pointer;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.res-card {
  height: 350px;
  width: 220px;
  padding: 10px;
  outline: 2px solid white;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 25px;
}

.res-card:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  cursor: pointer;
}

.res-card > img {
  height: 150px;
  width: 100%;
  border-radius: 10px;
}

.res-card h3 {
  font-size: 22px;
  margin: 8px 0 6px;
}

.res-card > .cuisines {
  font-weight: lighter;
}

.res-card > .res-ratings {
  padding: 4px 0;
  font-size: 18px;
  display: inline;
}

.res-card > .star {
  position: relative;
  bottom: 1px;
  font-size: 16px;
}

.res-card > .time {
  font-size: 14px;
  padding: 2px;
  display: inline;
  margin-left: 5px;
}

.res-card > .area,
.res-card > .distance {
  display: inline;
}

.res-card > .distance {
  margin-left: 5px;
}

.filter-btn{
  margin: 20px 0px 0px 30px;
}